<div class="row mt-1">
  <div class="col-lg-6" style="display: inline-flex;">
    <span><input id="name" style="width: 190%;" type="text"  class="form-control border border-dark "></span>
    <span style="margin-left: 33% !important;"><a class="btn btn-md btn-warning">search</a></span>
    
  </div>
  <div class="col-lg-6 mt-2">
    <span><a class="btn btn-sm btn-danger" (click)="addCategory()">Add Category</a></span>
  </div>
</div>
  
<div style="margin-top: 2%;" class="border-top">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" *ngFor="let header of headers">{{header}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of categories; let i = index;">
                  <th scope="row">{{i+1}}</th>
                  <td>{{category.name}}</td>
                  <td><i class="bi bi-trash" (click)="delete(category)"></i><i class="bi bi-pen" (click)="editItem(category)"></i></td>
                </tr>
              </tbody>
            </table>
          </div>

<app-add-category *ngIf="isEdit" (isOpened)="doEdit($event)"></app-add-category>