
    <div class="row mt-4">
        <div class="col-lg-4 col-sm-2 col-2"></div>
        <div class="col-lg-4 col-sm-8 col-8">
            <label class="form-label" for="form2Example1" *ngIf="isSuccessful">
                Registeration successful, <a class="text-primary" [routerLink]="['/login']">please login to continue</a>
              </label>
    <div *ngIf="!isSuccessful">
    <div *ngIf="!isCodeSent">
      <div class="form-outline mb-4">
        <div class="text-center mb-4" >
            <h2>Logo</h2></div>
        <label class="form-label" for="form2Example1">Enter your email address</label>
        <input type="text" 
        id="form2Example1" 
        class="form-control" 
        [(ngModel)]="username"
         [required]=true
         name="username"/>
      </div>
      <button type="button" class="btn btn-primary btn-block mb-4" (click)="getResetToken()">Continue</button>
    </div>

    <div *ngIf="isCodeSent && !isCodeValid">
    <div class="form-outline mb-4">
        <div class="text-center mb-4" >
            <h2>Logo</h2></div>
            <label class="form-label" for="form2Example1">{{message}}</label>
        <label class="form-label" for="form2Example1">Enter Code</label>
        <input type="text" 
        id="form2Example1" 
        class="form-control" 
        [(ngModel)]="resetToken.token"
         [required]=true
         name="token"/>
      </div>
      <button type="button" class="btn btn-primary btn-block mb-4" (click)="validateResetToken()">Continue</button>
    </div>

    <div *ngIf="isCodeValid">
    <div class="form-outline mb-4" *ngIf="isCodeValid">
        <div class="text-center mb-4" >
            <h2>Logo</h2>
        </div>
        <label class="form-label text-danger" for="form2Example1" >{{message}}</label>
        <label class="form-label" for="form2Example1">Enter new password</label>
        <div class="mb-4">
            <input type="password" 
            id="form2Example2" 
            class="form-control" 
            [(ngModel)]="reset.password" 
            [required]=true
            name="password"/>
            <label class="form-label" for="form2Example2">Password</label>
          </div>
          <div class="mb-4">
            <input type="password" 
            id="form2Example2" 
            class="form-control" 
            [(ngModel)]="reset.confirmPassword" 
            [required]=true
            name="confirmPassword"/>
            <label class="form-label" for="form2Example2">Confirm Password</label>
          </div>
      </div>
      <button type="button" class="btn btn-primary btn-block mb-4" (click)="resetPassword()">Submit</button>
    </div>

    <div class="form-outline mb-4" *ngIf="isCodeSent && !isCodeValid">
        <div class="text-center mb-4" >
            <h2>Logo</h2>
        </div>
            <label class="form-label" for="form2Example1">{{message}}</label>
    </div>
</div>
    </div>
    <div class="col-4 col-sm-4 col-lg-2 col-2"></div>
</div>